@if (isFormReady()) {
<form
  [formGroup]="form"
  (ngSubmit)="submitForm()"
  [attr.data-form-id]="config().id"
  [attr.data-form-valid]="form.valid"
  [attr.data-form-dirty]="form.dirty"
  [attr.data-form-touched]="form.touched">

  <!-- Field template defined inside form for formControlName to work -->
  <ng-template #fieldTemplate let-field>
    <div
      [attr.data-field-name]="field.name"
      [attr.data-field-type]="field.type"
      [attr.data-field-valid]="!hasError(field.name)"
      [attr.data-field-touched]="form.get(field.name)?.touched"
      [attr.data-field-dirty]="form.get(field.name)?.dirty"
      [attr.data-field-disabled]="form.get(field.name)?.disabled"
      [attr.data-field-required]="isFieldRequired(field)"
      [attr.data-field-width]="field.width || 1"
      [ngClass]="field.cssClass">

      <label
        [for]="field.name"
        [attr.data-label-for]="field.name">
        {{ field.label }}
        @if (isFieldRequired(field)) {
          <span data-required-indicator>*</span>
        }
        @if (field.description) {
          <span
            data-info-icon
            (click)="togglePopover(field.name); $event.stopPropagation()"
            [attr.data-popover-open]="activePopover === field.name"
            title="Click for more information">
            &#9432;
          </span>
          @if (activePopover === field.name) {
            <span data-popover>
              <span data-popover-content>{{ field.description }}</span>
              <button
                type="button"
                data-popover-close
                (click)="closePopover(); $event.stopPropagation()">
                &times;
              </button>
            </span>
          }
        }
      </label>

      <div data-input-container>
        @switch (field.type) {
          @case ('text') {
            <input
              [id]="field.name"
              [formControlName]="field.name"
              type="text"
              [placeholder]="field.placeholder || ''"
              [attr.data-input-type]="field.type"
            />
          }
          @case ('email') {
            <input
              [id]="field.name"
              [formControlName]="field.name"
              type="email"
              [placeholder]="field.placeholder || ''"
              [attr.data-input-type]="field.type"
            />
          }
          @case ('number') {
            <input
              [id]="field.name"
              [formControlName]="field.name"
              type="number"
              [placeholder]="field.placeholder || ''"
              [attr.data-input-type]="field.type"
            />
          }
          @case ('textarea') {
            <textarea
              [id]="field.name"
              [formControlName]="field.name"
              [placeholder]="field.placeholder || ''"
              [attr.data-input-type]="field.type"
              rows="4"
            ></textarea>
          }
          @case ('date') {
            <input
              [id]="field.name"
              [formControlName]="field.name"
              type="date"
              [attr.data-input-type]="field.type"
            />
          }
          @case ('select') {
            <select
              [id]="field.name"
              [formControlName]="field.name"
              [attr.data-input-type]="field.type">
              @if (field.placeholder) {
                <option value="" disabled>{{ field.placeholder }}</option>
              }
              @for (option of field.options; track option.value) {
                <option [value]="option.value">{{ option.label }}</option>
              }
            </select>
          }
          @case ('radio') {
            <div
              data-radio-group
              role="radiogroup"
              [attr.aria-labelledby]="field.name + '-label'">
              @for (option of field.options; track option.value) {
                <label
                  data-radio-option
                  [attr.data-option-value]="option.value">
                  <input
                    type="radio"
                    [formControlName]="field.name"
                    [value]="option.value"
                    data-radio-input
                  />
                  <span data-radio-label>{{ option.label }}</span>
                </label>
              }
            </div>
          }
          @case ('checkbox') {
            @if (field.options && field.options.length > 0) {
              <div
                data-checkbox-group
                role="group"
                [attr.aria-labelledby]="field.name + '-label'">
                @for (option of field.options; track option.value) {
                  <label
                    data-checkbox-option
                    [attr.data-option-value]="option.value"
                    [attr.data-option-selected]="isCheckboxOptionSelected(field.name, option.value)">
                    <input
                      type="checkbox"
                      [checked]="isCheckboxOptionSelected(field.name, option.value)"
                      (change)="toggleCheckboxOption(field.name, option.value)"
                      data-checkbox-input
                    />
                    <span data-checkbox-label>{{ option.label }}</span>
                  </label>
                }
              </div>
            } @else {
              <input
                [id]="field.name"
                [formControlName]="field.name"
                type="checkbox"
                data-checkbox-single
              />
            }
          }
          @case ('table') {
            @if (field.tableConfig) {
              <div
                data-table-container
                [attr.data-table-name]="field.name"
                [attr.data-row-mode]="field.tableConfig.rowMode"
                [attr.data-table-valid]="isTableValid(field.name)">

                <table data-table [attr.data-table-for]="field.name">
                  <thead data-table-header>
                    <tr data-table-header-row>
                      @for (column of field.tableConfig.columns; track column.name) {
                        <th
                          data-table-header-cell
                          [attr.data-column-name]="column.name"
                          [attr.data-column-type]="column.type"
                          [attr.data-column-width]="column.width || 1">
                          {{ column.label }}
                          @if (hasColumnRequiredValidation(column)) {
                            <span data-required-indicator>*</span>
                          }
                        </th>
                      }
                      @if (field.tableConfig.rowMode === 'dynamic') {
                        <th data-table-header-cell data-table-actions-column></th>
                      }
                    </tr>
                  </thead>

                  <tbody data-table-body [formArrayName]="field.name">
                    @for (rowControl of getTableFormArray(field.name)?.controls; track $index; let rowIndex = $index) {
                      <tr
                        data-table-row
                        [formGroupName]="rowIndex"
                        [attr.data-row-index]="rowIndex"
                        [attr.data-row-empty]="isTableRowEmpty(field.name, rowIndex)">

                        @for (column of field.tableConfig.columns; track column.name) {
                          <td
                            data-table-cell
                            [attr.data-column-name]="column.name"
                            [attr.data-cell-valid]="!hasTableCellError(field.name, rowIndex, column.name)"
                            [attr.data-cell-row]="rowIndex"
                            (mouseenter)="hasTableCellError(field.name, rowIndex, column.name) ? showCellTooltip(field.name, rowIndex, column.name) : null"
                            (mouseleave)="hideCellTooltip()"
                            (focusin)="hasTableCellError(field.name, rowIndex, column.name) ? showCellTooltip(field.name, rowIndex, column.name) : null"
                            (focusout)="hideCellTooltip()">

                            @switch (column.type) {
                              @case ('text') {
                                <input
                                  type="text"
                                  [formControlName]="column.name"
                                  [placeholder]="column.placeholder || ''"
                                  data-table-input
                                  [attr.data-input-type]="column.type"
                                />
                              }
                              @case ('number') {
                                <input
                                  type="number"
                                  [formControlName]="column.name"
                                  [placeholder]="column.placeholder || ''"
                                  data-table-input
                                  [attr.data-input-type]="column.type"
                                />
                              }
                              @case ('date') {
                                <input
                                  type="date"
                                  [formControlName]="column.name"
                                  data-table-input
                                  [attr.data-input-type]="column.type"
                                />
                              }
                              @case ('select') {
                                <select
                                  [formControlName]="column.name"
                                  data-table-input
                                  [attr.data-input-type]="column.type">
                                  @if (column.placeholder) {
                                    <option value="" disabled>{{ column.placeholder }}</option>
                                  }
                                  <option value="">--</option>
                                  @for (option of column.options; track option.value) {
                                    <option [value]="option.value">{{ option.label }}</option>
                                  }
                                </select>
                              }
                            }

                            @if (hasTableCellError(field.name, rowIndex, column.name) && isCellTooltipActive(field.name, rowIndex, column.name)) {
                              <div data-cell-error-tooltip>
                                {{ getTableCellErrorMessage(field, rowIndex, column.name) }}
                              </div>
                            }
                          </td>
                        }

                        @if (field.tableConfig.rowMode === 'dynamic') {
                          <td data-table-cell data-table-actions-cell>
                            <button
                              type="button"
                              data-table-action="remove"
                              [disabled]="!canRemoveTableRow(field)"
                              (click)="removeTableRow(field, rowIndex)"
                              [attr.aria-label]="field.tableConfig.removeRowLabel || 'Remove row'">
                              &times;
                            </button>
                          </td>
                        }
                      </tr>
                    }
                  </tbody>
                </table>

                @if (field.tableConfig.rowMode === 'dynamic') {
                  <div data-table-footer>
                    <button
                      type="button"
                      data-table-action="add"
                      [disabled]="!canAddTableRow(field)"
                      (click)="addTableRow(field)">
                      {{ field.tableConfig.addRowLabel || 'Add row' }}
                    </button>
                  </div>
                }
              </div>
            }
          }
        }

        @if (hasError(field.name)) {
          <div
            [attr.data-error-for]="field.name"
            data-validation-error>
            {{ getErrorMessage(field.name) }}
          </div>
        }
      </div>
    </div>
  </ng-template>

  <div data-form-section="fields">
    <!-- Ungrouped fields (not assigned to any section) -->
    @for (group of getUngroupedFields(); track $index) {
      <div
        data-field-row
        [attr.data-inline-group]="isInlineGroup(group) ? group[0].inlineGroup : null">
        @for (field of group; track field.name) {
          <ng-container *ngTemplateOutlet="fieldTemplate; context: { $implicit: field }"></ng-container>
        }
      </div>
    }

    <!-- Sectioned fields -->
    @for (section of getSections(); track section.id) {
      <section
        [id]="getSectionAnchorId(section)"
        [attr.data-section-id]="section.id">
        <header data-section-header>{{ section.title }}</header>
        @if (section.description) {
          <div data-section-description>{{ section.description }}</div>
        }
        @for (group of getFieldsForSection(section.id); track $index) {
          <div
            data-field-row
            [attr.data-inline-group]="isInlineGroup(group) ? group[0].inlineGroup : null">
            @for (field of group; track field.name) {
              <ng-container *ngTemplateOutlet="fieldTemplate; context: { $implicit: field }"></ng-container>
            }
          </div>
        }
      </section>
    }

    <!-- Fallback: if no sections defined, use original grouped fields approach -->
    @if (!hasSections() && getUngroupedFields().length === 0) {
      @for (group of getGroupedFields(); track $index) {
        <div
          data-field-row
          [attr.data-inline-group]="isInlineGroup(group) ? group[0].inlineGroup : null">
          @for (field of group; track field.name) {
            <ng-container *ngTemplateOutlet="fieldTemplate; context: { $implicit: field }"></ng-container>
          }
        </div>
      }
    }
  </div>

  <div data-form-section="actions">
    @if (config().saveLabel) {
      <button
        type="button"
        data-action="save"
        (click)="saveForm()">
        {{ config().saveLabel }}
      </button>
    }
    <button
      type="submit"
      data-action="submit"
      [attr.data-can-submit]="form.valid">
      {{ config().submitLabel || 'Submit' }}
    </button>
  </div>
</form>
}
